:root{
  --text-color: white;
  --bg-url: url(/assets/img/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --btn-bg: rgba(255, 255, 255, 0.1);
  --btn-bg-hover: rgba(255, 255, 255, 0.05);
  --social-links-hover: rgba(255, 255, 255, 0.2);
  --switch-bg: url(/assets/img/MoonStars.svg);
}

.light{
  --text-color: black;
  --bg-url: url(/assets/img/bg-light-mobile.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --btn-bg: rgba(0, 0, 0, 0.05);
  --btn-bg-hover: rgba(255, 255, 255, 0.02);
  --social-links-hover: rgba(0, 0, 0, 0.1);
  --switch-bg: url(/assets/img/Sun.svg);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

body {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}

.container {
  width: 360px;
  height: 712px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* profile */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  image-rendering: optimizeQuality;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

/* switch */
#switch{
  /* border: 1px solid white; */
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg) no-repeat center;
  border: none;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.light #switch button{
  right: 0;
  left: initial;
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--btn-bg);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 99999px;
}


/* links */

.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  font-weight: 500;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
  padding: 16px;
  background-color: var(--btn-bg);
  backdrop-filter: blur(4px);
  transition: background 0.2s;
}

ul li a:hover {
  background-color: var(--btn-bg-hover);
  border: 1.5px solid var(--text-color);
}

/* social-links */

#social-links {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background-color: var(--social-links-hover);
}


/* rodape */
footer {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}

footer p a {
  text-decoration: underline;
}
